<nav *ngIf="userSignedIn()" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']" >{{ title }}</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Tickets</a>
      </li>
      <li *ngIf="canReports()"class="nav-item">
        <a [routerLink]="['/reports']" class="nav-link">Reports</a>
      </li>
      <li *ngIf="canSettings()"class="nav-item hidden-xs-up">
        <a [routerLink]="['/settings']" class="nav-link">Settings</a>
      </li>
      <li class="nav-item hidden-xs-up">
        <a [routerLink]="['/help']" class="nav-link">Help</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-user"></i>
          {{ getUsername() }} (<span>{{ getRole() }}</span>)
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Log out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
