<div clas="row">  
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item p-2 mb-3">
        <input class="form-control" placeholder="Search..."/>
      </li>
      <li class="nav-item" *ngFor="let s of statusList">
        <a class="nav-link" [routerLink]="['/tickets/' + s.value]">
          {{ s.name }}
        </a>
      </li>
      <li class="nav-item p-2">
        <a [routerLink]="['/tickets/new']" class="btn btn-primary btn-block">New Ticket</a>
      </li>
    </ul>
  </nav>

  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div class="ticket" *ngIf="item">
      <h1>
        <span *ngIf="!editMode">
          {{ item.title }}
          <small>#{{ item.id }}</small>
        </span>

        <span *ngIf="editMode">
          <input [(ngModel)]="item.title" class="form-control"/>
        </span>
      </h1>

      <div class="summary">
        <div *ngIf="item.status == 'open'">
          <span class="badge badge-success">
            {{ item.status | titlecase }}
          </span>

          {{ item.author }} from {{ item.customer }} 
          opened this
          {{ item.opened_at | amTimeAgo }} 
          - {{ item.comments.length }} comments
        </div>
        <div *ngIf="item.status == 'closed'">
          <span class="badge badge-danger">
            {{ item.status | titlecase }}
          </span>

          {{ item.author }} from {{ item.customer }} 
          opened this
          {{ item.opened_at | amTimeAgo }} 
          - {{ item.comments.length }} comments
        </div>
      </div>

      <div *ngIf="!editMode" class="text">
        {{ item.message }}
      </div>

      <div *ngIf="editMode">
        <textarea *ngIf="editMode" [(ngModel)]="item.message" 
                  class="form-control mt-4"
                  placeholder="Write a message here..." rows="10">{{ item.message }}</textarea>
      </div>

      <button *ngIf="editMode" (click)="save()" class="mt-3 btn btn-primary">Save</button>

      <div class="d-flex justify-content-start mt-3">
        <button *ngIf="!editMode" (click)="edit()" class="btn btn-secondary">Edit</button>
        <button *ngIf="!editMode" (click)="delete()" class="ml-auto btn btn-outline-danger">Delete</button>
      </div>

      <hr />

      <h4 class="m-b-2">Comments <span *ngIf="item.comments.length != 0">({{item.comments.length }})</span></h4>

      <div *ngIf="item.comments.length == 0">
        <em>No comments so far.</em>
      </div>

      <div class="comment p-2 mt-2" *ngFor="let comment of item.comments">
        <div class="message">{{ comment.message }} </div>
        <div class="info">
          <span class="author">{{ comment.author }} </span>
          <span class="action" *ngIf="comment.action == 'none'">commented</span>
          <span class="action" *ngIf="comment.action == 'close'">closed</span>
          <span class="action" *ngIf="comment.action == 'reopen'">reopened</span>
          <span class="created-at">{{ comment.created_at | amTimeAgo }}</span>
        </div>
      </div>

      <form>
        <div class="card mt-3 mb-3">
          <div class="card-block p-1">
            <textarea [(ngModel)]="comment" name="comment" placeholder="Leave a comment" rows="5" class="form-control"></textarea>
          </div>
          <div class="card-footer p-1">
            <button (click)="saveComment()" class="btn btn-primary">Comment</button>
            <button *ngIf="item.status == 'open'" (click)="saveComment('close')" class="btn btn-secondary">Close ticket</button>
            <button *ngIf="item.status == 'closed'" (click)="saveComment('reopen')" class="btn btn-secondary">Reopen</button>
          </div>
        </div>
      </form>

    </div>
  </main>
</div>
