.ticket h1 small {
  color: #ccc;
  font-size: 0.8em;
}
.ticket .summary {
  font-size: 1em;
}
.ticket .badge {
  font-size: 1em;
}
.ticket .text {
  border: 1px solid #eee;
  padding: 20px;
  margin-top: 20px;
}
.ticket h1 .form-control {
  font-size: 1em;
}
