.ticket h1 small {
  color: #999;
  font-size: 0.8em;
}
.ticket .summary {
 font-size: 1em;
}
.ticket .badge {
 font-size: 1em;
}
.ticket .text {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}
