<div class="row">
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item p-2 mb-3">
        <input class="form-control" placeholder="Search..."/>
      </li>
      <li class="nav-item" *ngFor="let s of statusList">
        <a class="nav-link" [class.active]="selectedStatus.value === s.value" [routerLink]="['/tickets/' + s.value]">
          {{ s.name }}
        </a>
      </li>
      <li class="nav-item p-2">
        <a [routerLink]="['/tickets/new']" class="btn btn-primary btn-block">New Ticket</a>
      </li>
    </ul>
  </nav>

  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div *ngIf="list">
      <h1> {{ title }} </h1>

      <div class="table-responsive">
        <table class="table table-bordered tickets">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Costumer</th>
              <th>Author</th>
              <th>Opened on</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of list">
              <td>{{ ticket.id }} </td>
              <td><a [routerLink]="['/ticket', ticket.id]">{{ ticket.title }}</a></td>
              <td>{{ ticket.customer }}</td>
              <td>{{ ticket.author }}</td>
              <td>{{ ticket.opened_at | amTimeAgo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
